{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <h2>
      <ul>
        <li>Connection to database was established.</li>
        <li>Query successful.</li>
      </ul>
    </h2>
</div>
{% endblock content %}
